{% extends 'base.html' %}
{% load static %}
<body class="" data-gr-c-s-loaded="true">

{% block content %}
<main role="main">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <h2>{{product.name}}</h2>
        <img src="{% get_media_prefix %}{{product.image}}" width="120">
        <p>{{products.text}}</p>
        {% if user.is_authenticated %}
        <form method="POST" >
          {%csrf_token%}

            <input type="hidden" name="merchandise_id" value="{{product.id}}">
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
        {% else %}
        <form action='{% url "signup"%}' >
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
        {% endif %}
      </div>
    </div>
    <hr>
    {% for review in product.review_set.all %}
    {{review.rating}} <span>{{review.name}}</span>
    <p>{{review.text}}</p>
    {% endfor %}
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>

        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Имя</label>
            {% if user.is_authenticated %}
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                   placeholder="Представтесь" name="name" data-cip-id="name" value="{{user.email}}">
            {% else %}
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                   placeholder="Представтесь" name="name" data-cip-id="name">
            {% endif %}
          </div>
          <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" placeholder="Содержание"
                      name="description"></textarea>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark1" value="1">
            <label class="form-check-label" for="mark1">
              1
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
            <label class="form-check-label" for="mark2">
              2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
            <label class="form-check-label" for="mark3">
              3
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
            <label class="form-check-label" for="mark4">
              4
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
            <label class="form-check-label" for="mark5">
              5
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Оставить</button>
        </form>
      </div>
    </div>

  </div> <!-- /container -->


</main>
{% endblock %}
</body>
</html>