{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="container">
        <div class="header"></div>
        <h2>Регистрация</h2>
    </div>
    <form method="POST">
        {%csrf_token%}
        {%for field in form%}
        <h5 >{{field.label_tag}}</h5>
            {{field}}<br>
        {% endfor %}
        {% for error in form.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Зарегистрироваться</button>
    </form>
    <a class="btn btn-outline-success my-2 my-sm-0" role="button"
             href="{%url 'login'%}">
            Войти</a>
{% endblock %}